* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background-color-secondary;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
